In [1]:
import pandas as pd
import numpy as np #numpy까지는 습관적으로 해야함
                   #구조: pandas > numpy : 판다스 내부에 numpy 있음

In [2]:
#csv file read
df_csv = pd.read_csv(
    "./big20_students.csv"                     
    # ,names= ['이름','전화번호','이메일','birth','현재거주지'] #컬럼새로지정               
                     
)
#파라미터에서 중요한 부분
# filepath
# 파라미터에 / 있는 이유: /이후엔 "네임드 아규먼트" 다!
# usecols:

df_csv.head() # 상위5개 행 보여줌

    이름           전화번호                   이메일     생일            현재거주지
0  권준호  010-5880-1163    jjoonyho@gmail.com  04-25  경기도 성남시 분당구 서현동
1  한창숙  010-2297-3232    uaaaaaaa@gmail.com  06-19          강북구 미아동
2  임명혁  010-5335-3916    idmh1111@gmail.com  11-11         경기 화성 봉담
3  이승재  010-6768-1752  lsj0110245@gmail.com  10-24    서울특별시 강서구 마곡동
4  엄재민  010-4610-7755   um.jm1020@gmail.com  10-20       서울 노원구 상계동

In [12]:
#엑셀파일 읽기
# excel_df = pd.read_excel()
#주요파라미터
#1.io: 파일경로(파일명),URL 지정가능
#2.sheet_name : 특정 시트 선택
#시트지정:시트명,[시트명들],숫자(0부터 시작),None(모든 시트 불러오기)
#3.header:컬럼명으로 사용할 행을 지정, 디폴트는 0(첫번째 행)
#4.index_col : 특정 컬럼을 인덱스로 사용할때 지정
#5.usecols: 특정컬럼만 선택해서 불러올 때 사용
#6.skiprows : 파일의 상단에서 제외하고 싶은 행의 갯수를 지정 
#7.nrows : 불러올 행의 갯수를 지정,파일이 너무 클때 *일부*만 빠르게 확인하고자 할때
#8.na_values : 결측치로 처리할 값 지정
#9.engine: openpyxl(xlsx파일,지정안하면 디폴트 처리), xlrd(xls 파일) ->잘못하면 파일 못읽어옴

excel_df=pd.read_excel(
    '../data/01. population_in_Seoul.xls',engine='xlrd'
    )
excel_df.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [16]:
#json
json_df = pd.read_json(
    '../data/02. skorea_municipalities_geo_simple.json'
)
json_df

                 type                                           features
0   FeatureCollection  {'type': 'Feature', 'id': '강동구', 'properties':...
1   FeatureCollection  {'type': 'Feature', 'id': '송파구', 'properties':...
2   FeatureCollection  {'type': 'Feature', 'id': '강남구', 'properties':...
3   FeatureCollection  {'type': 'Feature', 'id': '서초구', 'properties':...
4   FeatureCollection  {'type': 'Feature', 'id': '관악구', 'properties':...
5   FeatureCollection  {'type': 'Feature', 'id': '동작구', 'properties':...
6   FeatureCollection  {'type': 'Feature', 'id': '영등포구', 'properties'...
7   FeatureCollection  {'type': 'Feature', 'id': '금천구', 'properties':...
8   FeatureCollection  {'type': 'Feature', 'id': '구로구', 'properties':...
9   FeatureCollection  {'type': 'Feature', 'id': '강서구', 'properties':...
10  FeatureCollection  {'type': 'Feature', 'id': '양천구', 'properties':...
11  FeatureCollection  {'type': 'Feature', 'id': '마포구', 'properties':...
12  FeatureCollection  {'type': 'Feature', 'id': '서대문구', 'properties'...
13  FeatureCollection  {'type': 'Feature', 'id': '은평구', 'properties':...
14  FeatureCollection  {'type': 'Feature', 'id': '노원구', 'properties':...
15  FeatureCollection  {'type': 'Feature', 'id': '도봉구', 'properties':...
16  FeatureCollection  {'type': 'Feature', 'id': '강북구', 'properties':...
17  FeatureCollection  {'type': 'Feature', 'id': '성북구', 'properties':...
18  FeatureCollection  {'type': 'Feature', 'id': '중랑구', 'properties':...
19  FeatureCollection  {'type': 'Feature', 'id': '동대문구', 'properties'...
20  FeatureCollection  {'type': 'Feature', 'id': '광진구', 'properties':...
21  FeatureCollection  {'type': 'Feature', 'id': '성동구', 'properties':...
22  FeatureCollection  {'type': 'Feature', 'id': '용산구', 'properties':...
23  FeatureCollection  {'type': 'Feature', 'id': '중구', 'properties': ...
24  FeatureCollection  {'type': 'Feature', 'id': '종로구', 'properties':...

In [21]:
url = 'https://ko.wikipedia.org/wiki/%EA%B5%AD%EA%B0%80_%EB%AA%A9%EB%A1%9D'
tables = pd.read_html(url)
tables

HTTPError: HTTP Error 403: Forbidden

In [24]:
#웹스크래핑
#1.html
import requests #내장
from bs4 import BeautifulSoup # 별도설치(설치at anaconda prompt)

#2.파싱


#3.select(css,html)

In [34]:
#1.html 파일
url = 'https://finance.naver.com/marketindex/'
resp = requests.get(url)
print(resp.text) #<Response [200]> : 정상 처리
html = resp.text
                 #resp.text : html 을 text 로 불러오기

<script language=javascript src="/template/head_js.naver?referer=info.finance.naver.com&menu=marketindex&submenu=market"></script>
<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20250828144601/js/info/jindo.min.ns.1.5.3.euckr.js"></script>
<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20250828144601/js/jindo.1.5.3.element-text-patch.js"></script>




	<div id="container" style="padding-bottom:0px;">




























		<div class="market_include">
	<div class="market_data">
		<div class="market1">
			<div class="title">
				<h2 class="h_market1"><span>환전 고시 환율</span></h2>
			</div>
			<!-- data -->
			<div class="data">
				<ul class="data_lst" id="exchangeList">








				 	<li class="on">
					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW" class="head usd" onClick="clickcr(this, 'fr1.usdt', '', '', event);">
						<h3 class="h_lst"><span class="blind">미국 USD</span></h3>







						<div class="head_info point_up">
							<span class="value">1,432.20</span>
							<span class="txt_krw"><span class="blind">원</span></span>
							<span class="change">5.20</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_USDKRW" class="graph_img" onClick="clickcr(this, 'fr1.usdc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_USDKRW.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.14 15:55</span>
						<span class="source">하나은행 기준</span>
						<span class="count">고시회차<span class="num">350</span>회</span>

					</div>
				</li>








				 	<li class="">
					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_JPYKRW" class="head jpy" onClick="clickcr(this, 'fr1.jpyt', '', '', event);">
						<h3 class="h_lst"><span class="blind">일본 JPY(100엔)</span></h3>







						<div class="head_info point_up">
							<span class="value">942.61</span>
							<span class="txt_krw"><span class="blind">원</span></span>
							<span class="change">5.49</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_JPYKRW" class="graph_img" onClick="clickcr(this, 'fr1.jpyc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_JPYKRW.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.14 15:55</span>
						<span class="source">하나은행 기준</span>
						<span class="count">고시회차<span class="num">350</span>회</span>

					</div>
				</li>








				 	<li class="">
					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_EURKRW" class="head eur" onClick="clickcr(this, 'fr1.eurt', '', '', event);">
						<h3 class="h_lst"><span class="blind">유럽연합 EUR</span></h3>







						<div class="head_info point_up">
							<span class="value">1,656.91</span>
							<span class="txt_krw"><span class="blind">원</span></span>
							<span class="change">5.73</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_EURKRW" class="graph_img" onClick="clickcr(this, 'fr1.eurc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_EURKRW.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.14 15:55</span>
						<span class="source">하나은행 기준</span>
						<span class="count">고시회차<span class="num">350</span>회</span>

					</div>
				</li>








				 	<li class="">
					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CNYKRW" class="head cny" onClick="clickcr(this, 'fr1.cnyt', '', '', event);">
						<h3 class="h_lst"><span class="blind">중국 CNY</span></h3>







						<div class="head_info point_up">
							<span class="value">200.49</span>
							<span class="txt_krw"><span class="blind">원</span></span>
							<span class="change">0.56</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/exchangeDetail.naver?marketindexCd=FX_CNYKRW" class="graph_img" onClick="clickcr(this, 'fr1.cnyc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_CNYKRW.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.14 15:55</span>
						<span class="source">하나은행 기준</span>
						<span class="count">고시회차<span class="num">350</span>회</span>

					</div>
				</li>

				</ul>
			</div>
			<!-- //data -->
		</div>
		<div class="market2">
			<div class="title">
				<h2 class="h_market2"><span>국제 시장 환율</span></h2>
			</div>
			<!-- data -->
			<div class="data">

				<ul class="data_lst" id="worldExchangeList">








				 	<li class="on">
					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_USDJPY" class="head jpy_usd" onClick="clickcr(this, 'fr2.jpyut', '', '', event);">
						<h3 class="h_lst"><span class="blind">달러/일본 엔</span></h3>







						<div class="head_info point_up">
							<span class="value">152.3500</span>

								<span class="txt_jpy"><span class="blind">엔</span></span>

							<span class="change">1.1500</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_USDJPY" class="graph_img" onClick="clickcr(this, 'fr2.jpyuc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_USDJPY.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.13</span>
						<span class="source">모닝스타 기준</span>
					</div>
				</li>








				 	<li class="">
					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_EURUSD" class="head usd_eur" onClick="clickcr(this, 'fr2.eurdt', '', '', event);">
						<h3 class="h_lst"><span class="blind">유로/달러</span></h3>







						<div class="head_info point_dn">
							<span class="value">1.1560</span>

								<span class="txt_usd"><span class="blind">달러</span></span>

							<span class="change"> 0.0061</span>
							<span class="blind">하락</span>
						</div>
					</a>

					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_EURUSD" class="graph_img" onClick="clickcr(this, 'fr2.eurdc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_EURUSD.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.13</span>
						<span class="source">모닝스타 기준</span>
					</div>
				</li>








				 	<li class="">
					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_GBPUSD" class="head usd_gbp" onClick="clickcr(this, 'fr2.gbpdt', '', '', event);">
						<h3 class="h_lst"><span class="blind">영국 파운드/달러</span></h3>







						<div class="head_info point_dn">
							<span class="value">1.3326</span>

								<span class="txt_usd"><span class="blind">달러</span></span>

							<span class="change"> 0.0027</span>
							<span class="blind">하락</span>
						</div>
					</a>

					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_GBPUSD" class="graph_img" onClick="clickcr(this, 'fr2.gbpdc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_GBPUSD.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.13</span>
						<span class="source">모닝스타 기준</span>
					</div>
				</li>








				 	<li class="">
					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_USDX" class="head usd_idx" onClick="clickcr(this, 'fr2.indt', '', '', event);">
						<h3 class="h_lst"><span class="blind">달러인덱스</span></h3>







						<div class="head_info point_up">
							<span class="value">99.0300</span>

							<span class="change">0.3000</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/worldExchangeDetail.naver?marketindexCd=FX_USDX" class="graph_img" onClick="clickcr(this, 'fr2.indc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_USDX.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
						<span class="time">2025.10.13</span>
						<span class="source">ICE 기준</span>
					</div>
				</li>

				</ul>
			</div>
			<!-- //data -->
		</div>
		<div class="market3">
			<div class="title">
				<h2 class="h_market3"><span>유가&middot;금시세</span></h2>
			</div>
			<!-- data -->
			<div class="data">

				<ul class="data_lst" id="oilGoldList">







					<li class="on">
   				   	<a href="/marketindex/worldOilDetail.naver?marketindexCd=OIL_CL&fdtc=2" class="head wti" onClick="clickcr(this, 'fr3.wtit', '', '', event);">
						<h3 class="h_lst"><span class="blind">WTI</span></h3>






						<div class="head_info point_up">
							<span class="value">59.49</span>
							<span class="txt_usd"><span class="blind">달러</span></span>
							<span class="change">0.59</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/worldOilDetail.naver?marketindexCd=OIL_CL&fdtc=2" class="graph_img" onClick="clickcr(this, 'fr3.wtic', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/OIL_CL.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
							<span class="time">2025.10.13</span>
							<span class="source">NYMEX(뉴욕상업거래소) 기준</span>

					</div>
				</li>







					<li class="">
   				   	<a href="/marketindex/oilDetail.naver?marketindexCd=OIL_GSL" class="head gasoline" onClick="clickcr(this, 'fr3.oilt', '', '', event);">
						<h3 class="h_lst"><span class="blind">휘발유</span></h3>






						<div class="head_info point_dn">
							<span class="value">1663.03</span>
							<span class="txt_krw"><span class="blind">원</span></span>
							<span class="change"> 0.13</span>
							<span class="blind">하락</span>
						</div>
					</a>

					<a href="/marketindex/oilDetail.naver?marketindexCd=OIL_GSL" class="graph_img" onClick="clickcr(this, 'fr3.oilc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/OIL_GSL.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
							<span class="time">2025.10.14</span>
							<span class="source">한국석유공사 Opinet 기준</span>

					</div>
				</li>







					<li class="">
   				   	<a href="/marketindex/worldGoldDetail.naver?marketindexCd=CMDT_GC&fdtc=2" class="head gold_inter" onClick="clickcr(this, 'fr3.agoldt', '', '', event);">
						<h3 class="h_lst"><span class="blind">국제 금</span></h3>






						<div class="head_info point_up">
							<span class="value">4133.0</span>
							<span class="txt_usd"><span class="blind">달러</span></span>
							<span class="change">132.60</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/worldGoldDetail.naver?marketindexCd=CMDT_GC&fdtc=2" class="graph_img" onClick="clickcr(this, 'fr3.agoldc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/CMDT_GC.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
							<span class="time">2025.10.13</span>
							<span class="source">COMEX(뉴욕상품거래소) 기준</span>

					</div>
				</li>







					<li class="">
   				   	<a href="/marketindex/goldDetail.naver" class="head gold_domestic" onClick="clickcr(this, 'fr3.kgoldt', '', '', event);">
						<h3 class="h_lst"><span class="blind">국내 금</span></h3>






						<div class="head_info point_up">
							<span class="value">189173.2</span>
							<span class="txt_krw"><span class="blind">원</span></span>
							<span class="change">862.22</span>
							<span class="blind">상승</span>
						</div>
					</a>

					<a href="/marketindex/goldDetail.naver" class="graph_img" onClick="clickcr(this, 'fr3.kgoldc', '', '', event);">
						<img src="https://ssl.pstatic.net/imgfinance/chart/marketindex/CMDT_GD.png" alt="" width="295" height="153">
					</a>

					<div class="graph_info">
							<span class="time">2025.10.14 15:57</span>
							<span class="source">신한은행 기준</span>
							(<span class="num">376</span>회차)
					</div>
				</li>

				</ul>
			</div>
			<!-- //data -->
		</div>
	</div>
</div>
<div id="content" class="marketindex_content _replaceNewsLink">
	<div class="section_news">
		<h3 class="h_market"><span>환율 주요뉴스</span></h3>
		<div class="list_area">
		<ul>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=277&article_id=0005664192" onClick="clickcr(this, 'mhn.list', '277_0005664192', '0', event);">원·달러 환율 5.2원 오른 1431.0원</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.14 15:43</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=277&article_id=0005663900" onClick="clickcr(this, 'mhn.list', '277_0005663900', '1', event);">1년 반 만의 외환당국 구두개입…올봄 14</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.14 10:11</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=001&article_id=0015675836" onClick="clickcr(this, 'mhn.list', '001_0015675836', '2', event);">원/달러 환율, 소폭 상승…1,420원대 </a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.14 09:39</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=277&article_id=0005663803" onClick="clickcr(this, 'mhn.list', '277_0005663803', '3', event);">원·달러 환율 0.7원 오른 1426.5원</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.14 09:05</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=001&article_id=0015675716" onClick="clickcr(this, 'mhn.list', '001_0015675716', '4', event);">[그래픽] 아시아 주요국 중앙은행·금융당국</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.14 08:55</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=001&article_id=0015675526" onClick="clickcr(this, 'mhn.list', '001_0015675526', '5', event);">"기후위기 대응서 통화정책 못 따라가는 금</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.14 05:53</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=001&article_id=0015675525" onClick="clickcr(this, 'mhn.list', '001_0015675525', '6', event);">트럼프 충격에 하루 7배나 뛴 달러 코인…</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.14 05:51</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=015&article_id=0005196042" onClick="clickcr(this, 'mhn.list', '015_0005196042', '7', event);">경제체력 약화에 통상리스크까지…"1400원</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.13 17:51</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=015&article_id=0005196030" onClick="clickcr(this, 'mhn.list', '015_0005196030', '8', event);">환율 1430원 웃돌자…1년반 만에 시장개</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.13 17:47</span>
			</li>

			<li>
				<p><a href="/news/news_read.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429&office_id=015&article_id=0005196021" onClick="clickcr(this, 'mhn.list', '015_0005196021', '9', event);">[포토] 통상 불확실성…힘 못쓰는 원화</a><img src="https://ssl.pstatic.net/static/nfinance/ico_new.gif" width="8" height="8" alt="NEW"></p>
				<span>10.13 17:44</span>
			</li>

		</ul>
		</div>
		<a href="/news/news_list.naver?mode=LSS3D&section_id=101&section_id2=258&section_id3=429" class="btn_more" onClick="clickcr(this, 'mhn.more', '', '', event);"><img src="https://ssl.pstatic.net/static/nfinance/btn_more.gif" width="34" height="18" alt="더보기"></a>
	</div>

	<div class="tab_default1" id="tab_section">
            <ul>
            <li class="on"><a href="./?tabSel=exchange#tab_section" onClick="clickcr(this, 'mtb.exnoti', '', '', event);"><span class="tab1">환전고시 환율</span></a></li>
            <li class=""><a href="./?tabSel=worldExchange#tab_section" onClick="clickcr(this, 'mtb.interex', '', '', event);"><span class="tab2">국제시장 환율</span></a></li>
            <li class=""><a href="./?tabSel=gold#tab_section" onClick="clickcr(this, 'mtb.oilgold', '', '', event);"><span class="tab3">유가 금시세</span></a></li>
            <li class=""><a href="./?tabSel=materials#tab_section" onClick="clickcr(this, 'mtb.material', '', '', event);"><span class="tab4">원자재</span></a></li>
            </ul>
            <h2 class="blind">환전고시 환율</h2>
    </div>

<div class="section_calculator">
	<h3 class="h_calculator"><span>환율계산기 (매매기준율 기준)</span></h3>
	<div class="calculator">
		<div class="inner">
			<div class="input">
				<div id="sInput" class="selectbox-noscript">
					<select id="select_from" class="selectbox-source">
						<option value="1" label="1">대한민국 원 KRW</option>



							 <option value="1432.2" label="1" class="selectbox-default" selected="selected"> 미국 달러 USD</option>

							<option value="1432.2" label="1"> 미국 달러 USD</option>



							<option value="1656.91" label="1"> 유럽연합 유로 EUR</option>



							<option value="9.4261" label="100"> 일본 엔 JPY</option>



							<option value="200.49" label="1"> 중국 위안 CNY</option>



							<option value="184.17" label="1"> 홍콩 달러 HKD</option>



							<option value="46.56" label="1"> 대만 달러 TWD</option>



							<option value="1901.89" label="1"> 영국 파운드 GBP</option>



							<option value="3719.81" label="1"> 오만 리알 OMR</option>



							<option value="1019.0" label="1"> 캐나다 달러 CAD</option>



							<option value="1783.23" label="1"> 스위스 프랑 CHF</option>



							<option value="150.33" label="1"> 스웨덴 크로나 SEK</option>



							<option value="926.2" label="1"> 호주 달러 AUD</option>



							<option value="815.28" label="1"> 뉴질랜드 달러 NZD</option>



							<option value="68.08" label="1"> 체코 코루나 CZK</option>



							<option value="1.49" label="1"> 칠레 페소 CLP</option>



							<option value="34.24" label="1"> 튀르키예 뉴리라 TRY</option>



							<option value="0.4" label="1"> 몽골 투그릭 MNT</option>



							<option value="432.45" label="1"> 이스라엘 세켈 ILS</option>



							<option value="221.88" label="1"> 덴마크 크로네 DKK</option>



							<option value="141.38" label="1"> 노르웨이 크로네 NOK</option>



							<option value="381.89" label="1"> 사우디아라비아 리얄 SAR</option>



							<option value="4665.6" label="1"> 쿠웨이트 디나르 KWD</option>



							<option value="3798.64" label="1"> 바레인 디나르 BHD</option>



							<option value="389.93" label="1"> 아랍에미리트 디르함 AED</option>



							<option value="2020.03" label="1"> 요르단 디나르 JOD</option>



							<option value="30.01" label="1"> 이집트 파운드 EGP</option>



							<option value="43.78" label="1"> 태국 바트 THB</option>



							<option value="1101.9" label="1"> 싱가포르 달러 SGD</option>



							<option value="338.78" label="1"> 말레이시아 링깃 MYR</option>



							<option value="0.0864" label="100"> 인도네시아 루피아 IDR</option>



							<option value="392.92" label="1"> 카타르 리얄 QAR</option>



							<option value="2.66" label="1"> 카자흐스탄 텡게 KZT</option>




In [45]:
# 2.파싱
soup = BeautifulSoup(html,'html.parser') # html로 파싱해라
#결과: Dom 생성됨, selector 가능


#3.select(css.html) : 이부분이 핵심
#exchangeList > li.on > a.head.usd > div > span.value : 환율 text 들어간 위치
exchange_usd = soup.select('#exchangeList > li.on > a.head.usd > div > span.value')
print(exchange_usd)
print(exchange_usd[0].text)

exchange_jp = soup.select('#exchangeList > li:nth-child(2) > a.head.jpy > div > span.value')
# print(exchange_jp)

[<span class="value">1,432.20</span>]
1,432.20

In [47]:
#5.데이터 저장
#5-1  csv 파일 저장 : to_csv()
import pandas as pd
import numpy as np

df_to_save = pd.DataFrame({
    '제품명' : ['노트북','모니터','키보드'],
    '가격':[15000000,2000000,150000],
    '재고':[30,50,120]  
})
df_to_save

   제품명        가격   재고
0  노트북  15000000   30
1  모니터   2000000   50
2  키보드    150000  120

In [58]:
#dataframe =>file save
df_to_save.to_csv(
    'data.csv'
    ,index = False    
)

#파리미터 정리(중요)
#1.path_or_buf: 저장할 파일 경로 또는 파일 객체 > data.csv
#2.index : 행인덱스를 파일에 포함할지 여부를 결정,default : True

In [9]:
df=pd.read_csv('data.csv'
             
             
                ) # 컬럼명이 없으면 읽어올때 Unnamed로 지정됨
#만약 index=false 면 unnamed 사라짐
    
df

   제품명        가격   재고
0  노트북  15000000   30
1  모니터   2000000   50
2  키보드    150000  120

In [17]:
#20251015
df = pd.read_csv(
        'data.csv',
        usecols=['제품명','가격'] #원하는 컬럼만 선택할 수 있다.
                 )
df

   제품명        가격
0  노트북  15000000
1  모니터   2000000
2  키보드    150000

In [22]:
#usecols: 어떤 컬럼을 선택 할거냐
#df => json file\
df.to_json(
    'products.json', # 저장할 (경로)파일명
    indent=4,
    force_ascii=False
)

In [28]:
df.to_excel(                    #openpyxl install
    'products.xlsx',            #파이선으로 엑셀을 제어 다할 수 있음
    sheet_name='재고 현황'    
)

In [36]:
df_sales = pd.DataFrame({
    '월' :[1,2,3,],
    '매출':[1000,1200,1100,]
})
df_sales

df_costs = pd.DataFrame({
    '항목':['인건비','마케팅'],
    '비용':[400,200]     
})

df_costs

    항목   비용
0  인건비  400
1  마케팅  200

In [45]:
with pd.ExcelWriter('report.xlsx') as writer:
    df_sales.to_excel(writer,sheet_name='월별 매출')
    df_costs.to_excel(writer,sheet_name='비용')

In [65]:
df.head(1)
df.head()
df.tail(1)

# 샘플 데이터 생성
data = {
    'OrderID': range(1001, 1011),
    'CustomerID': ['C01', 'C02', 'C01', 'C03', 'C02', 'C04', 'C03', 'C01', 'C04', 'C02'],
    'OrderDate': pd.to_datetime(['2023-01-10', '2023-01-11', '2023-01-15', '2023-02-01', '2023-02-03', '2023-02-05', '2023-03-10', '2023-03-12', '2023-03-15', '2023-04-01']),
    'Product': ['A', 'B', 'C', 'A', 'C', 'B', 'A', 'B', 'C', 'A'],
    'Price': [100, 150, 200, 100, 200, 150, 100, 150, 200, 100],
    'Quantity': [3, 2, 1, 5, 2, 3, 4, 2, 1, 3],
    'Discount': [0.1, 0.2, 0.0, 0.15, 0.2, 0.1, 0.05, 0.2, 0.0, 0.1]
}
df = pd.DataFrame(data)
df
df.loc[1,'Discount'] = np.nan
#슬라이싱도 가능함
df.loc[5,'Price']=np.nan
df.loc[8,'Product']=np.nan
df

   OrderID CustomerID  OrderDate Product  Price  Quantity  Discount
0     1001        C01 2023-01-10       A  100.0         3      0.10
1     1002        C02 2023-01-11       B  150.0         2       NaN
2     1003        C01 2023-01-15       C  200.0         1      0.00
3     1004        C03 2023-02-01       A  100.0         5      0.15
4     1005        C02 2023-02-03       C  200.0         2      0.20
5     1006        C04 2023-02-05       B    NaN         3      0.10
6     1007        C03 2023-03-10       A  100.0         4      0.05
7     1008        C01 2023-03-12       B  150.0         2      0.20
8     1009        C04 2023-03-15     NaN  200.0         1      0.00
9     1010        C02 2023-04-01       A  100.0         3      0.10

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     10 non-null     int64
 1   CustomerID  10 non-null     object
 2   OrderDate   10 non-null     datetime64[ns]
 3   Product     9 non-null      object
 4   Price       9 non-null      float64
 5   Quantity    10 non-null     int64
 6   Discount    9 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 692.0+ bytes

In [ ]:
df.describe() #데이터의 분포와 이상치를 대략적으로 파악할때 사용
#중요부분: min, mean,
#평균보다 왼쪽으로 조금 쏠려있는 그래프다.즉 앞쪽에 데이터가 쏠려있는 그래프
#억지로 의미부여: 저렴한 가격대가 잘 팔린다.
#50%:평균 X, 100개의 데이터라면 50번째 데이터, 평균아니다!!!!!!!!!!!!
#평균과 중앙값 차이크면 한쪽으로 쏠렸다

          OrderID            OrderDate       Price   Quantity  Discount
count    10.00000                   10    9.000000  10.000000     9.000
mean   1005.50000  2023-02-13 07:12:00  144.444444   2.600000     0.100
min    1001.00000  2023-01-10 00:00:00  100.000000   1.000000     0.000
25%    1003.25000  2023-01-19 06:00:00  100.000000   2.000000     0.050
50%    1005.50000  2023-02-04 00:00:00  150.000000   2.500000     0.100
75%    1007.75000  2023-03-11 12:00:00  200.000000   3.000000     0.150
max    1010.00000  2023-04-01 00:00:00  200.000000   5.000000     0.200
std       3.02765                  NaN   46.398036   1.264911     0.075

In [69]:
df

   OrderID CustomerID  OrderDate Product  Price  Quantity  Discount
0     1001        C01 2023-01-10       A  100.0         3      0.10
1     1002        C02 2023-01-11       B  150.0         2       NaN
2     1003        C01 2023-01-15       C  200.0         1      0.00
3     1004        C03 2023-02-01       A  100.0         5      0.15
4     1005        C02 2023-02-03       C  200.0         2      0.20
5     1006        C04 2023-02-05       B    NaN         3      0.10
6     1007        C03 2023-03-10       A  100.0         4      0.05
7     1008        C01 2023-03-12       B  150.0         2      0.20
8     1009        C04 2023-03-15     NaN  200.0         1      0.00
9     1010        C02 2023-04-01       A  100.0         3      0.10

In [78]:
df.shape #(10,7) :(행,열)
len(df) #행의 개수 반환
df.shape[0]#행의갯수
df.shape[1]#열의갯수

7

In [82]:
#기본 통계량
#가격(컬럼)의 평균

df['Price'].mean()

np.float64(144.44444444444446)

In [88]:
df_scores = pd.DataFrame({
    '국어':[85,92,78,95,88],
    '수학':[90,88,91,76,82],
    '영어':[88,95,80,92,85],
    
}, index = ['민준','서연','도연','예은','시우'])
df_scores

    국어  수학  영어
민준  85  90  88
서연  92  88  95
도연  78  91  80
예은  95  76  92
시우  88  82  85

In [97]:
# 과목별 평균(열 기준)
avg_by_subject = df_scores.mean() # 시리즈로 결과가나옴, 즉 인덱스뽑을 수 있다
avg_by_subject['국어']
avg_by_subject


#describe으로도 접근가능 ,근데 2번 처리해야함
df_desc =df_scores.describe()
df_desc.loc['mean']['국어']

np.float64(87.6)

In [100]:
#학생별 평균점수(행기준, axis=)
#<중요>axis=0 , default 아래방향으로 평균구해라~
#<중요>axis=1  옆방향으로 평균구해라
avg_by_students=df_scores.mean(axis=1)
avg_by_students

민준    87.666667
서연    91.666667
도연    83.000000
예은    87.666667
시우    85.000000
dtype: float64

In [ ]:
#중앙값,최대,최소
mid_by_students=df_scores.median() # 할수는 있지만 그리 의미없는 작업
mid_by_students

국어    88.0
수학    88.0
영어    88.0
dtype: float64

In [114]:
#최대,최소
df_scores.max(axis=0) # 열기준:과목별, 해당 열의 최대값
df_scores.max(axis=1) # 행기준:학생별, 학생들에서 최대값
df_scores.min()#axis=0

#상관관계를 구하는게 : 공(두개,co)분산
#분산(평균으로부터 얼마나 퍼져 있는지): 한개변수, 공분산: 두개 변수
#수치X, 방향O
#양수: 두변수가 양의방향 관계 = 두변수 완전히 똑같다
#0: 관계없다
#음수: 음의방향 관계 = 완전히 반대

#<결론>기울기과 관계다!!!딥러닝은 기울기 찾는거다!!

#0.75넘어가면 관계크다

국어    78
수학    76
영어    80
dtype: int64

- 제목: # 제목, ## 소제목, ### 소소제목
- 목록: - 항목, * 항목, 1. 번호
- 강조: **굵게**, *기울임*, ~~취소선~~
- 링크: [텍스트](URL)
- 이미지: ![설명](이미지URL)

## 1에 가까울수록: 강한 양의 상관관계 (두변수가 관련이 많다~~)
## -1에 가까울수록: 강한 음의 상관관계 (두변수가 관련이 점점 없다)
## 0에 가까울수록: 상관관계가 거의 없음
![상관계수 행렬 해석](images/상관계수행렬해석.png)

### 4.시각화도구
-4_1. Matplotlib - 기본 그래프 도구

* `plt.figure()`: 그래프를 그릴 도화지(figure)를 준비
* `plt.plot()` 등: 원하는 형태의 그래프 그리기
* `plt.title()`, `plt.xlabel()`, `plt.ylabel()` 등: 제목, 축 레이블 등 부가 정보를 추가
* `plt.show()`: 완성된 그래프를 화면에 표시

In [ ]:
# 4_1_1. 선그래프
# <미리설치> in anaconda 
# conda activate pandas_numpy
# pip install mathplotlib seaborn folium
# <주의> 3.3.4버전은 설치 절대로 XXX