#### 서울시 범죄 현황 분석
- API: 서버에 요청하고 데이터 받기, 주소를 알기위해 필요함
- ex) 경찰서  <=> API   , API는 경찰서에 위도,경도, 주소 보냄
- 지도시각화 :folium

In [13]:
import pandas as pd
import numpy as np

In [14]:
# 범죄 현황 데이터 로딩
# data 파일 열었을때 문제점
# 1. 한글깨짐  / euc-kr, 천단위 콤마:문자열 처리, 연산 안됨-> 숫자로 변환
crime_anal_police = pd.read_csv(
    '../data/02. crime_in_Seoul.csv',
    encoding='euc-kr', #관공서 엔코딩은 조심~~한번더 확인
    thousands=',' # 데이터 파일은 무조건 열어서 봐야함   
)
crime_anal_police.head()

# 2. 천단위일때 문자열로 처리됨 /

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0   중부서      2      2      3      2    105     65   1395    477   1355   1170
1   종로서      3      3      6      5    115     98   1070    413   1278   1070
2  남대문서      1      0      6      4     65     46   1153    382    869    794
3  서대문서      2      2      5      4    154    124   1812    738   2056   1711
4   혜화서      3      2      5      4     96     63   1114    424   1015    861

In [15]:
# 파이썬에서 구글지도 api 라이브러리 설치 : googlemaps
import googlemaps

gmaps_key  = 'AIzaSyCRxIgstOs32GDCO9t3CzdfaLAnb5tu0fI'
gmaps = googlemaps.Client(key=gmaps_key)

In [16]:
# 서울중부 경찰서  ==> 상세 주소 조회
gmaps.geocode('서울중부경찰서',language='ko') #json 방식으로 나옴

[{'address_components': [{'long_name': '67',
    'short_name': '67',
    'types': ['premise']},
   {'long_name': '퇴계로',
    'short_name': '퇴계로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '04529', 'short_name': '04529', 'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 퇴계로 67',
  'geometry': {'location': {'lat': 37.55990389999999, 'lng': 126.9794911},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5612528802915,
     'lng': 126.9808400802915},
    'southwest': {'lat': 37.5585549197085, 'lng': 126.9781421197085}}},
  'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
  'plus_code': {'compound_code': 'HX5H+XQ 대한민국 서울특별시',
   'global_code': '8Q98HX5H+XQ'},
  'types': ['establishment', 'point_of_interest']}]

In [17]:
# 중부서  => 서울 + 중부 + 경찰서
# 경찰서 이름을 저장하는 리스트
station_names = []

for name in crime_anal_police['관서명'] :
    station_names.append('서울' + str(name[:-1]) + "경찰서") # "~서" 자 빼고 가져와라
# 주의: 서울: 문자열, name은 오브젝트  => name을 str로 형변환
    
    
station_names[:5]

# 한줄로 끝낼수도 있음~~~
# station_names= ['서울' + str(name[:-1]) + "경찰서"
#               for name in crime_anal_police['관서명']]

# station_names[:5]

['서울중부경찰서', '서울종로경찰서', '서울남대문경찰서', '서울서대문경찰서', '서울혜화경찰서']

In [18]:
station_names # 하나씩 꺼내서 구글에서 주소정보 가져올라고~

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [19]:
# 전체주소, 위도, 경고
# 따로따로 저장할 리스트 필요함
station_address = []
station_lat = []
station_lng = []

for name in station_names :
    tmp = gmaps.geocode(name,language='ko')
#  전체주소 추출해서 저장
    station_address.append(tmp[0].get('formatted_address')) # 딕셔너리에서 키 꺼내기
#  위도 추출해서 저장
    tmp_loc = tmp[0].get('geometry') # 안해도 되지만~~
    station_lat.append(tmp_loc['location']['lat'])
#  경도 추출해서 저장
    station_lng.append(tmp_loc['location']['lng'])
    
# 31번 돌면서 구글에서 지도정보 가져오고 저장하고 가져오고 저장한다
    
    print(name + ' -----> ' + tmp[0].get('formatted_address'))


# 결과: 리스트 -> 문자열로 저장됨
# 여기서 '구'만 추출해서 따로 저장

서울중부경찰서 -----> 대한민국 서울특별시 중구 퇴계로 67
서울종로경찰서 -----> 대한민국 서울특별시 종로구 인사동5길 41
서울남대문경찰서 -----> 대한민국 서울특별시 중구 한강대로 410
서울서대문경찰서 -----> 대한민국 서울특별시 서대문구 충정로 13
서울혜화경찰서 -----> 대한민국 서울특별시 종로구 창경궁로 112-16
서울용산경찰서 -----> 대한민국 서울특별시 용산구 원효로89길 24
서울성북경찰서 -----> 대한민국 서울특별시 성북구 보문로 170
서울동대문경찰서 -----> 대한민국 서울특별시 동대문구 약령시로21길 29
서울마포경찰서 -----> 대한민국 서울특별시 마포구 마포대로 183
서울영등포경찰서 -----> 대한민국 서울특별시 영등포구 국회대로 608
서울성동경찰서 -----> 대한민국 서울특별시 성동구 왕십리광장로 9
서울동작경찰서 -----> 대한민국 서울특별시 동작구 노량진로 148
서울광진경찰서 -----> 대한민국 서울특별시 광진구 자양로 167
서울서부경찰서 -----> 대한민국 서울특별시 은평구 진흥로 58
서울강북경찰서 -----> 대한민국 서울특별시 강북구 오패산로 406
서울금천경찰서 -----> 대한민국 서울특별시 금천구청.금천경찰서
서울중랑경찰서 -----> 대한민국 서울특별시 중랑구 묵제2동 249-2
서울강남경찰서 -----> 대한민국 서울특별시 강남구 테헤란로114길 11
서울관악경찰서 -----> 대한민국 서울특별시 관악구 관악로5길 33
서울강서경찰서 -----> 대한민국 서울특별시 강서구 화곡로 308
서울강동경찰서 -----> 대한민국 서울특별시 강동구 성내로 57
서울종암경찰서 -----> 대한민국 서울특별시 성북구 종암로 137
서울구로경찰서 -----> 대한민국 서울특별시 구로구 새말로 97 신도림테크노마트 5층
서울서초경찰서 -----> 대한민국 서울특별시 서초구 반포대로 179
서울양천경찰서 -----> 대한민국 서울특별시 양천구 목동서로 192-1
서울송파경찰서 -----> 대한민국 서울특별시 송파구 중대로 221
서울노원경찰서 -----> 대한민국 서울특별시 노원구 노원로 283
서울방배경찰서 -----> 대한민국 서울특별시 서초구 동작대로 204
서울은평경찰서 -----> 대한민국 서울특별시 은평구 연서로 365
서울도봉경찰서 -----> 대한민국 서울특별시 도봉구 노해로 403
서울수서경찰서 -----> 대한민국 서울특별시 강남구 개포로 617

In [20]:
station_lat[:5], station_lng[:5]

([37.55990389999999, 37.571824, 37.5547584, 37.560607, 37.5719679],
 [126.9794911, 126.9841533, 126.9734981, 126.9626106, 126.9989574])

In [21]:
'대한민국 서울특별시 강남구 개포로 617' .split()

['대한민국', '서울특별시', '강남구', '개포로', '617']

In [22]:
# 전체주소에서 구 추출 저장
gu_names = []

for name in station_address: # 31개 반복
    tmp = name.split() #['대한민국', '서울특별시', '강남구', '개포로', '617']
    tmp_gu = [ gu for gu in tmp if gu[-1] == '구'] # 맨 마지막자 가져오기
    # <주의> 도로명 주소에도 '구' 포함될수 있으니 첫번째 '구'만 가져와라 [0]추가
    gu_names.append(tmp_gu)
    
    # 마지막자가 ~구  로 끝나는 문자열 추출 
    
gu_names

[['중구'],
 ['종로구'],
 ['중구'],
 ['서대문구'],
 ['종로구'],
 ['용산구'],
 ['성북구'],
 ['동대문구'],
 ['마포구'],
 ['영등포구'],
 ['성동구'],
 ['동작구'],
 ['광진구'],
 ['은평구'],
 ['강북구'],
 [],
 ['중랑구'],
 ['강남구'],
 ['관악구'],
 ['강서구'],
 ['강동구'],
 ['성북구'],
 ['구로구'],
 ['서초구'],
 ['양천구'],
 ['송파구'],
 ['노원구'],
 ['서초구'],
 ['은평구'],
 ['도봉구'],
 ['강남구']]

In [23]:
search_words='금천'
indices = [idx for idx,str_ in enumerate(station_address) if search_words in str_]
indices

#금천의 위치를 찾기위해서 for 문 돌림

[15]

In [24]:
station_address[15] = '대한믹국 서울특별시 금천구 시흥대로'

In [25]:
# 전체주소에서 구 추출 저장
gu_names = []

for name in station_address: # 31개 반복
    tmp = name.split() #['대한민국', '서울특별시', '강남구', '개포로', '617']
    tmp_gu = [ gu for gu in tmp if gu[-1] == '구'][0] # 맨 마지막자 가져오기
    # <주의> 도로명 주소에도 '구' 포함될수 있으니 첫번째 '구'만 가져와라 [0]추가
    gu_names.append(tmp_gu)
    
    # 마지막자가 ~구  로 끝나는 문자열 추출     
gu_names

['중구',
 '종로구',
 '중구',
 '서대문구',
 '종로구',
 '용산구',
 '성북구',
 '동대문구',
 '마포구',
 '영등포구',
 '성동구',
 '동작구',
 '광진구',
 '은평구',
 '강북구',
 '금천구',
 '중랑구',
 '강남구',
 '관악구',
 '강서구',
 '강동구',
 '성북구',
 '구로구',
 '서초구',
 '양천구',
 '송파구',
 '노원구',
 '서초구',
 '은평구',
 '도봉구',
 '강남구']

In [26]:
crime_anal_police['구별'] = gu_names
crime_anal_police.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구별
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [27]:
# 중간 단계를 저장 -> 저장안하다가 큰 코 닥침
# 가끔 어떤 회사는 전기갑자기 꺼놓음 !!! ㅎㄷㄷ
crime_anal_police.to_csv(
    '../data/02. crime_in_Seoul_include_gu_name.csv',
    sep = ',',
    encoding='utf-8'   # 유니코드로 저장  -> data 파일이 한글이 안깨짐
)

In [28]:
# 범죄 데이터 구별로 정리하기

# 범죄 데이터 구별로 정리
crime_anal_raw = pd.read_csv(
    '../data/02. crime_in_Seoul_include_gu_name.csv',
    encoding='utf-8',
    index_col=0 # 0번째 컬럼을 인덱슬 보내라    
)
crime_anal = pd.pivot_table(crime_anal_raw, index='구별', aggfunc='sum') # 같은 중복은 sum 때려라
crime_anal.head()

,강간 검거,강간 발생,강도 검거,강도 발생,관서명,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생
구별,,,,,,,,,,,
강남구,349,449,18,21,강남서수서서,10,13,1650,3850,3705,4284
강동구,123,156,8,6,강동서,3,4,789,2366,2248,2712
강북구,126,153,13,14,강북서,8,7,618,1434,2348,2649
강서구,191,262,13,13,강서서,8,7,1260,2096,2718,3207
관악구,221,320,14,12,관악서,8,9,827,2706,2642,3298

In [29]:
crime_anal

,강간 검거,강간 발생,강도 검거,강도 발생,관서명,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생
구별,,,,,,,,,,,
강남구,349,449,18,21,강남서수서서,10,13,1650,3850,3705,4284
강동구,123,156,8,6,강동서,3,4,789,2366,2248,2712
강북구,126,153,13,14,강북서,8,7,618,1434,2348,2649
강서구,191,262,13,13,강서서,8,7,1260,2096,2718,3207
관악구,221,320,14,12,관악서,8,9,827,2706,2642,3298
광진구,220,240,26,14,광진서,4,4,1277,3026,2180,2625
구로구,164,281,11,15,구로서,6,8,889,2335,2432,3007
금천구,122,151,6,6,금천서,4,3,888,1567,1776,2054
노원구,121,197,7,7,노원서,10,10,801,2193,2329,2723
도봉구,106,102,10,9,도봉서,3,3,478,1063,1303,1487
동대문구,146,173,13,13,동대문서,5,5,814,1981,2227,2548
동작구,139,285,5,9,동작서,5,5,661,1865,1587,1910
마포구,247,294,10,14,마포서,8,8,813,2555,2519,2983
서대문구,124,154,4,5,서대문서,2,2,738,1812,1711,2056
서초구,249,393,6,9,서초서방배서,6,8,1091,2635,2098,2399
성동구,119,126,8,9,성동서,4,4,597,1607,1395,1612
성북구,124,150,4,5,성북서종암서,5,5,741,1785,1855,2209
송파구,178,220,10,13,송파서,10,11,1129,3239,2786,3295
양천구,105,120,3,6,양천서,5,3,672,1890,2030,2509
영등포구,183,295,20,22,영등포서,12,14,978,2964,2961,3572
용산구,173,194,14,14,용산서,5,5,587,1557,1704,2050
은평구,141,166,6,9,서부서은평서,3,3,711,1914,2306,2653
종로구,161,211,9,11,종로서혜화서,5,6,837,2184,1931,2293
중구,111,170,6,9,중부서남대문서,2,3,859,2548,1964,2224
중랑구,148,187,9,11,중랑서,12,13,829,2135,2407,2847

In [30]:
# 검거율을 구하자
crime_anal.columns # 프린트해보면 공백 포함되있음!!!주의하기!!
crime_anal['강간검거율'] = crime_anal['강간 검거'] / crime_anal['강간 발생'] *100
crime_anal['강도검거율'] = crime_anal['강도 검거'] / crime_anal['강도 발생'] *100
crime_anal['살인검거율'] = crime_anal['살인 검거'] / crime_anal['살인 발생'] *100
crime_anal['절도검거율'] = crime_anal['절도 검거'] / crime_anal['절도 발생'] *100
crime_anal['폭력검거율'] = crime_anal['폭력 검거'] / crime_anal['폭력 발생'] *100

del crime_anal['강간 검거'] # 검거율 구한다음에 '검거'열은 필요없으니까
del crime_anal['강도 검거'] 
del crime_anal['살인 검거'] 
del crime_anal['절도 검거'] 
del crime_anal['폭력 검거'] 

crime_anal.head()

,강간 발생,강도 발생,관서명,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,,
강남구,449,21,강남서수서서,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,강동서,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,강북서,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
강서구,262,13,강서서,7,2096,3207,72.900763,100.000000,114.285714,60.114504,84.752105
관악구,320,12,관악서,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157

In [31]:
del crime_anal['관서명'] 

crime_anal.head()
#근데 검거열 100% 넘기기가능? -> 작년에 발생한게 올해 검거됬으면 가능함~~~~
#나중에 100% 넘어가는것들은 -> 100%으로 고정시키기 해야함!!~

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,114.285714,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,116.666667,88.888889,30.561715,80.109157

In [32]:
crime_anal.columns

col_list = ['강간검거율', '강도검거율', '살인검거율',
       '절도검거율', '폭력검거율']

# => 검거율 100넘는 애들 100으로 바꾸기

for col in col_list:
    crime_anal.loc[crime_anal[col]>100, col] = 100
    
crime_anal.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157

In [33]:
crime_anal.columns

Index(['강간 발생', '강도 발생', '살인 발생', '절도 발생', '폭력 발생', '강간검거율', '강도검거율', '살인검거율',
       '절도검거율', '폭력검거율'],
      dtype='object')

In [34]:
# 컬럼명 짧게 바꿔주기
crime_anal.rename(columns = {
    '강간 발생' : '강간',
    '강도 발생' : '강도',
    '살인 발생' : '살인',
    '절도 발생' : '절도',
    '폭력 발생' : '폭력',
                  
}, inplace = True                  
                  )

crime_anal.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157

In [35]:
# 저장하기~~
crime_anal.to_csv(
    '../data/02. crime_in_Seoul_중간 전처리완료2025-10-20.csv',
    sep=',',
    encoding='utf-8'
)

In [40]:
# 데이터에 문제가 있다 => 각 칼럼의 비교가 안된다

crime_anal = pd.read_csv (
    '../data/02. crime_in_Seoul_중간 전처리완료2025-10-20.csv',
    index_col=0 # 이걸 반드시 줘야함
)
crime_anal.head()

# 일정한 범위로 만드는거 : 스케일링
# minmax scaler :

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,262,13,7,2096,3207,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,320,12,9,2706,3298,69.062500,100.000000,88.888889,30.561715,80.109157

In [ ]:
# 데이터 쌩으로 집어넣으면 망한다.  일정 범위로 만들어아햠
# MinMaxScaler() 사용할려면 sklearn 사용
# fit: min, max 구하는 단계
# [리스트]=> 팬시색인:여러개 컬럼 한번에 집어 넣겠다.

In [43]:
# integer/integer -> integer /but 우리는 0~1사이값 알아야함 float 로 바꿔야함
# float/float ->  float (0~1사이값으로 나누기)
# 결론)int -> float 로 변환해야함
# 방법)컬럼별로 minmax로 바꾸기

-사이킹런 설치방법
- 아나콘다 프롬프트 에서 conda activate pandas_numpy / pip install scikit-learn

In [48]:
from sklearn  import preprocessing

In [70]:
# 전처리
cols = ['강간','강도','살인','절도','폭력']


# 데이터 추출
x= crime_anal[cols].values
x.shape
min_max_scaler = preprocessing.MinMaxScaler() # object 만생성
# x_scaled = min_max_scaler.fit_transform(x) # 데이터 x를 0과 1사이로 정규화
x_scaled = min_max_scaler.fit_transform(x.astype(float)) # 정수형이나 문자열 섞일경우 오류방지위해 float 변환
x_scaled

#dataframe
#normalizaion : 0~1부터 
crime_anal_norm = pd.DataFrame(
    x_scaled,
    columns=cols,
    index= crime_anal.index
)
crime_anal_norm.head()

col2 = ['강간검거율','강도검거율','살인검거율','절도검거율','폭력검거율',]
crime_anal_norm[col2] = crime_anal[col2]

crime_anal_norm.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.352941,92.857143,100.000000,43.096234,88.637222
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.900763,100.000000,100.000000,60.114504,84.752105
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.062500,100.000000,88.888889,30.561715,80.109157

In [74]:
# CCTV, 인구현황 데이터 저장: CCTV_result.csv
result_CCTV= pd.read_csv (
    '../data/01. CCTV_result.csv',
    index_col=0 # CSV파일의 첫번째 열이 실제로는 인덱스 역할을 하기때문에
)
# 인구수,소계 추출해서 crime_anal_norm에 추가
crime_anal_norm[['인구수','CCTV']] = result_CCTV[['인구수','소계']]
crime_anal_norm.head()

# 강도,강간,살인,폭력 이런거 없애고 그냥 '범죄'로 통칭

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV
구별,,,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.728285,85.714286,76.923077,42.857143,86.484594,570500.0,2780
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.846154,100.000000,75.000000,33.347422,82.890855,453233.0,773
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.352941,92.857143,100.000000,43.096234,88.637222,330192.0,748
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.900763,100.000000,100.000000,60.114504,84.752105,603772.0,884
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.062500,100.000000,88.888889,30.561715,80.109157,525515.0,1496

In [79]:
# 범죄 칼럼 생성하고 발생(5개범죄)의 합을 저장
cols = ['강간','강도','살인','절도','폭력']
crime_anal_norm[cols]
crime_anal_norm['범죄'] = np.sum(crime_anal_norm[cols], axis=1)
crime_anal_norm.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV,범죄
구별,,,,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.728285,85.714286,76.923077,42.857143,86.484594,570500.0,2780,4.857843
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.846154,100.000000,75.000000,33.347422,82.890855,453233.0,773,1.286607
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.352941,92.857143,100.000000,43.096234,88.637222,330192.0,748,1.641616
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.900763,100.000000,100.000000,60.114504,84.752105,603772.0,884,2.333944
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.062500,100.000000,88.888889,30.561715,80.109157,525515.0,1496,2.860342

In [83]:
# 검거율도 합을 구하고 검거 컬럼생성 처리
col2

crime_anal_norm['검거'] = np.sum(crime_anal_norm[col2], axis = 1)
crime_anal_norm.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV,범죄,검거
구별,,,,,,,,,,,,,,
강남구,1.000000,0.941176,0.916667,1.000000,1.000000,77.728285,85.714286,76.923077,42.857143,86.484594,570500.0,2780,4.857843,369.707384
강동구,0.155620,0.058824,0.166667,0.467528,0.437969,78.846154,100.000000,75.000000,33.347422,82.890855,453233.0,773,1.286607,370.084431
강북구,0.146974,0.529412,0.416667,0.133118,0.415445,82.352941,92.857143,100.000000,43.096234,88.637222,330192.0,748,1.641616,406.943540
강서구,0.461095,0.470588,0.416667,0.370649,0.614945,72.900763,100.000000,100.000000,60.114504,84.752105,603772.0,884,2.333944,417.767372
관악구,0.628242,0.411765,0.583333,0.589523,0.647479,69.062500,100.000000,88.888889,30.561715,80.109157,525515.0,1496,2.860342,368.622261

In [84]:
# seaborn :도화지 만들고 보여주기
# seaborn만 설치하면 안됨, matplotlib(엔진) 기본설치되야함

import matplotlib.pyplot as plt