In [3]:
import pandas as pd
import numpy as np

In [17]:
# 샘플 데이터 생성
data = {
    'OrderID': range(1001, 1011),
    'CustomerID': ['C01', 'C02', 'C01', 'C03', 'C02', 'C04', 'C03', 'C01', 'C04', 'C02'],
    'OrderDate': pd.to_datetime(['2023-01-10', '2023-01-11', '2023-01-15', '2023-02-01', '2023-02-03', '2023-02-05', '2023-03-10', '2023-03-12', '2023-03-15', '2023-04-01']),
    'Product': ['A', 'B', 'C', 'A', 'C', 'B', 'A', 'B', 'C', 'A'],
    'Price': [100, 150, 200, 100, 200, 150, 100, 150, 200, 100],
    'Quantity': [3, 2, 1, 5, 2, 3, 4, 2, 1, 3],
    'Discount': [0.1, 0.2, 0.0, 0.15, 0.2, 0.1, 0.05, 0.2, 0.0, 0.1]
}
df = pd.DataFrame(data)
df.head(4)
#OrderID-순서가 있는 번호: sequence , 순서에 의미가 있는 번호
#CustomerID -순서가의미X, sequence 아니다
#OrderDate: 주문일자
#Product : 상품명, IDX
#Discount: 할인율


#결측치 추가
df.loc[1,'Discount'] = np.nan #loc로 선택한후 대체도 가능
df

   OrderID CustomerID  OrderDate Product  Price  Quantity  Discount
0     1001        C01 2023-01-10       A    100         3      0.10
1     1002        C02 2023-01-11       B    150         2       NaN
2     1003        C01 2023-01-15       C    200         1      0.00
3     1004        C03 2023-02-01       A    100         5      0.15
4     1005        C02 2023-02-03       C    200         2      0.20
5     1006        C04 2023-02-05       B    150         3      0.10
6     1007        C03 2023-03-10       A    100         4      0.05
7     1008        C01 2023-03-12       B    150         2      0.20
8     1009        C04 2023-03-15       C    200         1      0.00
9     1010        C02 2023-04-01       A    100         3      0.10

In [10]:
df.tail()

   OrderID CustomerID  OrderDate Product  Price  Quantity  Discount
5     1006        C04 2023-02-05       B    150         3      0.10
6     1007        C03 2023-03-10       A    100         4      0.05
7     1008        C01 2023-03-12       B    150         2      0.20
8     1009        C04 2023-03-15       C    200         1      0.00
9     1010        C02 2023-04-01       A    100         3      0.10

In [ ]:
df.info()
#rangeIndex: Row 수!
#datetime: object다 즉 ,어트리뷰트,메소드 존재즉 뭔가 함수가 존재하겠구나
#<중요>각컬럼의Datatype 중요함!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     10 non-null     int64
 1   CustomerID  10 non-null     object
 2   OrderDate   10 non-null     datetime64[ns]
 3   Product     10 non-null     object
 4   Price       10 non-null     int64
 5   Quantity    10 non-null     int64
 6   Discount    10 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 692.0+ bytes