In [24]:
import pandas as pd
import numpy as np

   OrderID CustomerID  OrderDate Product  Price  Quantity  Discount  discount
5     1006        C04 2023-02-05       B    150         3      0.10       NaN
6     1007        C03 2023-03-10       A    100         4      0.05       NaN
7     1008        C01 2023-03-12       B    150         2      0.20       NaN
8     1009        C04 2023-03-15       C    200         1      0.00       NaN
9     1010        C02 2023-04-01       A    100         3      0.10       NaN

In [ ]:
df.info()
#rangeIndex: Row 수!
#datetime: object다 즉 ,어트리뷰트,메소드 존재즉 뭔가 함수가 존재하겠구나
#<중요>각컬럼의Datatype 중요함!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     10 non-null     int64
 1   CustomerID  10 non-null     object
 2   OrderDate   10 non-null     datetime64[ns]
 3   Product     10 non-null     object
 4   Price       10 non-null     int64
 5   Quantity    10 non-null     int64
 6   Discount    10 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 692.0+ bytes