In [2]:
import pandas as pd
import numpy as np

In [4]:
student_data = {
    '이름' : ['민준','서연','도윤','예은','시우'],
    '나이' : [18,17,18,17,18],
    '도시' : ['서울','부산','서울','인천','부산'],
    '국어' : [85,38,51,65,99],
    '수학' : [23,85,89,22,66]
}

student_data
df = pd.DataFrame(student_data)
df

   이름  나이  도시  국어  수학
0  민준  18  서울  85  23
1  서연  17  부산  38  85
2  도윤  18  서울  51  89
3  예은  17  인천  65  22
4  시우  18  부산  99  66

In [ ]:
df.columns # index객체로, 열 이름들을 담고 있음, pandas의 index타입
#dtype='object' : 열이름들의 자료형이 문자열이다.

Index(['이름', '나이', '도시', '국어', '수학'], dtype='object')

In [ ]:
df.values
#내부: 실제값, ndarray

array([['민준', 18, '서울', 85, 23],
       ['서연', 17, '부산', 38, 85],
       ['도윤', 18, '서울', 51, 89],
       ['예은', 17, '인천', 65, 22],
       ['시우', 18, '부산', 99, 66]], dtype=object)

In [ ]:
# 주요 속성
# 중복된게 많이 나옴
# shape:
# df.shape
# df.shape

#df.index : 행 인덱스 반환
print(df.index)
print(df.columns)
print(df.values)
print(df.dtypes)
print(df.ndim) #데이터프레임 차원은 무조건 2차원(정해져 있음)
print(df.T) #행,열 교환할때 사용,딥러닝할때 많이 사용~~

# df1 = pd.DataFrame([[1,2],[5,7]])  # 2개의리스트 -> 각각 1행씩 구성
# df1
# print(df1)
# print()
# print(df1.T)

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '나이', '도시', '국어', '수학'], dtype='object')
[['민준' 18 '서울' 85 23]
 ['서연' 17 '부산' 38 85]
 ['도윤' 18 '서울' 51 89]
 ['예은' 17 '인천' 65 22]
 ['시우' 18 '부산' 99 66]]
이름    object
나이     int64
도시    object
국어     int64
수학     int64
dtype: object
2
     0   1   2   3   4
이름  민준  서연  도윤  예은  시우
나이  18  17  18  17  18
도시  서울  부산  서울  인천  부산
국어  85  38  51  65  99
수학  23  85  89  22  66
   0  1
0  1  2
1  5  7

   0  1
0  1  5
1  2  7

In [35]:
# 주요메서드
#1.데이터탐색 및 요약
# df.head(2) #head가 dataframe 이 나온다
df.head(2)
df1 = df.head(2)
df1

#1.3 info()
#df.info(): 구조확인
df.info()
df.describe() # 통계량 으로 알 수 있는것: 국어,수학점수는 비슷하구나with 평균, 표준편차
print("=======================================================================")
df.value_counts() #특정 컬럼에 대한 고유값 개수 반환
df['나이'].value_counts()
#뽑아온 나이가 Series 즉, value_count는 시리즈에서 사용
df['나이'].value_counts()[18]  #나이가 18세인 사람이 몇명이냐
df['나이'].value_counts().index # DataFrame df의 '나이' 컬럼에서 고유한 값들을 세고, 그 고유 값들(즉, 나이들)을 인덱스 형태로 가져와라
df['나이'].value_counts().index.tolist()[0] #위에결과를 리스트로 바꾸고 0번째값 가져오기 = 가장 나이많은 값 가져오기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      5 non-null      object
 1   나이      5 non-null      int64
 2   도시      5 non-null      object
 3   국어      5 non-null      int64
 4   수학      5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes
=======================================================================

18

In [43]:
#데이터 프레임에서 인덱싱,슬라이싱,펜시 인덱싱, 블린인덱싱

student_data = { 
    '이름' : ['민준','서연','도윤','예은','시우'],
    '나이' : [18,17,18,17,18],
    '도시' : ['서울','부산','서울','인천','부산'],
    '국어' : [85,92,78,95,88],
             }

student_data['이름']
print(type(student_data))
print(type(student_data['이름']))

df = pd.DataFrame(student_data, index=['A','B','C','D','E'])
df

#1.기본인덱싱: 특정 컬럼(열)을 선택하거나, 행하나를 선택하는 방법, []연산자 사용
#1.1 컬럼 인덱싱, 근데 인덱스(A~E)같이 나옴
print(df['이름'])

<class 'dict'>
<class 'list'>
A    민준
B    서연
C    도윤
D    예은
E    시우
Name: 이름, dtype: object

In [45]:
# 여러개 컬럼 선택
# 1.슬라이싱: 연속된 여러개 

#2.펜시 인덱싱: 비연속된 여러개
df[['이름','국어']]
df[['국어','이름']]

   국어  이름
A  85  민준
B  92  서연
C  78  도윤
D  95  예은
E  88  시우