### 데이터 사전처리
-현실데이터: 불완전, 비정형,왜곡발생

In [1]:
# 대체:'fillna()'
# df_filled = df_missing.copy() : 복사본 사용

In [2]:
import pandas as pd
import numpy as np

### 5_2. 중복 데이터 처리

In [5]:
df_dup = pd.DataFrame({
    'c1' : ['a','b','c','a','b'],
    'c2' : [1,2,3,1,2,]
})

df_dup  # row가 중복된걸 중복됬다고 함~~~

  c1  c2
0  a   1
1  b   2
2  c   3
3  a   1
4  b   2

In [8]:
dup_rows = df_dup.duplicated() #boolean 반환 -> 즉, indexing 가능
# dup_rows(dup_rows) => 에러남

In [ ]:
df_dedup = df_dup.drop_duplicates(keep="fist") # 중복된 행 제거
df_dedup = df_dup.drop_duplicates(keep="last") # 인덱스가 바뀜
#근데 제거는 조심해야함~!

df_dedup

  c1  c2
2  c   3
3  a   1
4  b   2

## 5_3. 데이터 정규화<중요>
- Data Normalizaion: 데이터를 일관성 있는 형태로 만드는 과정
- 즉, 데이터 표현 통일화  ex) cm->m , m->cm
- =/ 머신러닝의 피처스케일링

### 5_3_2.자료형 변환
- 숫자로 보여도 '문자열'인것들
- ex)나이,연봉

### 5_3_4.<중요> 범주형(카테고리)데이터 처리

### 통계기반 데이터 종류 : 정성적, 정량적 Data
- 정성적:Qualitative , 질 O ,양 X => 숫자아닐수도 있음, 문자도 Ok
  
  1.**명목형 Data** : 순서나 크기가 의미X, 단순히 이름붙이거나 분류에 사용 

      ex) 성별,혈액형
    
  2.**순서형 Data** : 순서가 의미 O , 간격은 의미X

      ex)학점A,B,C 만족도(매우,불,만,) => 간격값은 알 수 없다.
- 정량적:Quantitative , 양 O ,질 X => 숫자
  
  1.**이산형(discrete)** : 셀 수 있는 정수 형태 
  
       ex)주사위

  2.**연속형**
   :연속,소수점 값
      
      ex) 키, 몸무게


### 명목형 데이터
1. 도수분포표: 각 범주에 해당하는 데이터의 수를 표(막대그래프)로 표시
    + 최빈값사용: 남10, 여5일때 남10이 최빈값
2. 모수적 검정(Parametric Test): 정해진 분포(함수) 사용
    + 통계 :방정식->함수->그래프->분포(결론) , 결국 분포는 함수다~~~
    + ex)정규분포
    + 머신러닝: 사이킹런으로 처리(=식 O)
    

### 순서형 데이터
1. 중앙값 
2. 비모수적 검정(Non-Parametric Test) :분포가 정해지지 X =>아예 식을 찾는거 컴퓨터한테 = **딥러닝!!!!**
    + 딥러닝이 비모수적 검정!!(=식 X)

### 이산형 데이터 -> 수치(정수)
<details>
  <summary>도수분포표 사용</summary>

  ![도수분포표](./도수분포표.png)

</details>

- 평균, 중앙값, 최빈값 
- 확률분포: 이항분포, 포아송 분포


#### 연속형 데이터 -> 수치(실수)
- 도수분표X (왜? 연속형 데이터니까, 개수 셀수 X)
- 평균, 중앙값, ~~최빈값(안됨)~~, 
- 표준편차(Std)[평균,중앙값에서 퍼져있는 정도, "데이터의 중심 경향성=분산"을 표준편차 한것]
   + <참고> 스케일링: 분산을 줄이는거

- 모수적 -> 
   + t-검정: 변수2개
   + anova(분산)검정 : 변수2개 이상
   + 회귀분석

#### <추가 : 머신러닝>
#### 학습 끝-> 식(모델) -> 새로운값 투입 -> 예측값(결과값), 오차최소
1. 지도학습 : 데이터와 값을 같이 넣어주는것(지연X),원래답과 비교, 오차를 가지고 다시 수정
    + 데이터
    + 레이블(답)

2. 비지도학습 : 답이 없으니 오차구할수 X ->그래서 학습이라...고 하기가...뭐함
    + 생성형 AI(답이없어도 생성하니까)
3. 강화학습: 경험 학습(실패,성공), 지연O
    + 알파고(바로 오차 알수없음 , 경기끝나고 알수 있음 = **지연된 보상**)
    + 주식(주식샀다고 바로 되지X,지난다음에 강화학습함)
    + 사족보행로봇(계속 걸어보게 경험 시킴)