### 데이터 사전처리
-현실데이터: 불완전, 비정형,왜곡발생

In [ ]:
# 대체:'fillna()'
# df_filled = df_missing.copy() : 복사본 사용

In [ ]:
import pandas as pd
import numpy as np

### 5_2. 중복 데이터 처리

In [ ]:
df_dup = pd.DataFrame({
    'c1' : ['a','b','c','a','b'],
    'c2' : [1,2,3,1,2,]
})

df_dup  # row가 중복된걸 중복됬다고 함~~~

  c1  c2
0  a   1
1  b   2
2  c   3
3  a   1
4  b   2

In [ ]:
dup_rows = df_dup.duplicated() #boolean 반환 -> 즉, indexing 가능
# dup_rows(dup_rows) => 에러남

In [ ]:
df_dedup = df_dup.drop_duplicates(keep="fist") # 중복된 행 제거
df_dedup = df_dup.drop_duplicates(keep="last") # 인덱스가 바뀜
#근데 제거는 조심해야함~!

df_dedup

ValueError: keep must be either "first", "last" or False

## 5_3. 데이터 정규화<중요>
- Data Normalizaion: 데이터를 일관성 있는 형태로 만드는 과정
- 즉, 데이터 표현 통일화  ex) cm->m , m->cm
- =/ 머신러닝의 피처스케일링

### 5_3_2.자료형 변환
- 숫자로 보여도 '문자열'인것들
- ex)나이,연봉

### 5_3_4.<중요> 범주형(카테고리)데이터 처리

### 통계기반 데이터 종류 : 정성적, 정량적 Data
- 정성적:Qualitative , 질 O ,양 X => 숫자아닐수도 있음, 문자도 Ok
  
  1.**명목형 Data** : 순서나 크기가 의미X, 단순히 이름붙이거나 분류에 사용 

      ex) 성별,혈액형
    
  2.**순서형 Data** : 순서가 의미 O , 간격은 의미X

      ex)학점A,B,C 만족도(매우,불,만,) => 간격값은 알 수 없다.
- 정량적:Quantitative , 양 O ,질 X => 숫자
  
  1.**이산형(discrete)** : 셀 수 있는 정수 형태 
  
       ex)주사위

  2.**연속형**
   :연속,소수점 값
      
      ex) 키, 몸무게


### 명목형 데이터
1. 도수분포표: 각 범주에 해당하는 데이터의 수를 표(막대그래프)로 표시
    + 최빈값사용: 남10, 여5일때 남10이 최빈값
2. 모수적 검정(Parametric Test): 정해진 분포(함수) 사용
    + 통계 :방정식->함수->그래프->분포(결론) , 결국 분포는 함수다~~~
    + ex)정규분포
    + 머신러닝: 사이킹런으로 처리(=식 O)
    

### 순서형 데이터
1. 중앙값 
2. 비모수적 검정(Non-Parametric Test) :분포가 정해지지 X =>아예 식을 찾는거 컴퓨터한테 = **딥러닝!!!!**
    + 딥러닝이 비모수적 검정!!(=식 X)

### 이산형 데이터 -> 수치(정수)
<details>
  <summary>도수분포표 사용</summary>

  ![도수분포표](./도수분포표.png)

</details>

- 평균, 중앙값, 최빈값 
- 확률분포: 이항분포, 포아송 분포


#### 연속형 데이터 -> 수치(실수)
- 도수분표X (왜? 연속형 데이터니까, 개수 셀수 X)
- 평균, 중앙값, ~~최빈값(안됨)~~, 
- 표준편차(Std)[평균,중앙값에서 퍼져있는 정도, "데이터의 중심 경향성=분산"을 표준편차 한것]
   + <참고> 스케일링: 분산을 줄이는거

- 모수적 -> 
   + t-검정: 변수2개
   + anova(분산)검정 : 변수2개 이상
   + 회귀분석

#### <추가 : 머신러닝>
#### 학습 끝-> 식(모델) -> 새로운값 투입 -> 예측값(결과값), 오차최소
1. 지도학습 : 데이터와 값을 같이 넣어주는것(지연X),원래답과 비교, 오차를 가지고 다시 수정
    + 데이터
    + 레이블(답)

2. 비지도학습 : 답이 없으니 오차구할수 X ->그래서 학습이라...고 하기가...뭐함
    + 생성형 AI(답이없어도 생성하니까)
3. 강화학습: 경험 학습(실패,성공), 지연O
    + 알파고(바로 오차 알수없음 , 경기끝나고 알수 있음 = **지연된 보상**)
    + 주식(주식샀다고 바로 되지X,지난다음에 강화학습함)
    + 사족보행로봇(계속 걸어보게 경험 시킴)

## 진짜 교재 나감 
### 4.범주형(카테고리) 데이터 처리
#### 4-1.구간분할

In [ ]:
# pd.cut() : 연속형데이터 -> 범주형 데이터로 변환
# df_age['컬럼명'] : 없으면 컬럼명 설정

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_age = pd.DataFrame({
   'age':[5,15,21,28,39,42,58,65] 
})

df_age

   age
0    5
1   15
2   21
3   28
4   39
5   42
6   58
7   65

In [ ]:
bins = [0,19,29,39,49,69]
labels = ['10대이하','20대','30대','40대','50대이상']

In [ ]:
df_age['연령대'] = pd.cut(
    df_age['age'], #나이데이터 기준으로 연령대 나누겠다
    bins=bins, #구간경계값 리스트
    labels=labels,  # 각구간에 붙일 이름(라벨) 지정
    right=True # 오른쪽 경계 포함함
    # right=False -> 39살이 40대로 처리됨
)

df_age

   age    연령대
0    5  10대이하
1   15  10대이하
2   21    20대
3   28    20대
4   39    40대
5   42    40대
6   58  50대이상
7   65  50대이상

#### 4-2.더미변수
#### 딥러닝 : f(x),f(X)랑 다름, X(라지엑스): 데이터 여러개
- f(X) = (a1x1 + b) + (a2x2 + b) + (a3x4 + b) 에서 a,b찾는거.  즉, 다항함수
- <주의>인코딩: 문자->숫자로 바꿔서 대입해야함,단순처리
    + 레이블 인코딩 : 의미없이 숫자값 
    + 원핫인코딩 : 0 or 1로 포현, 값 바뀜 X, 희소행렬<단점>메모리차지 너무 많음, 잘안씀
          <details>
          <summary>[그림]레이블인코딩 VS 원핫인코딩</summary>
            ![레이블VS원핫인코딩](./레이블인코딩_원핫인코딩.png)

          </details>
    
    
- 임베딩: 위에 2개 해결 , 의미있는 숫자로 바꾸는거(word to Vector)
      <details>
        <summary> [그림]임베딩 </summary>
          ![임베딩](./임베딩.png)
      </details>

    + 특정단어를 숫자로 변환
  
    + 임베딩처리가 한국어처리 성능 결정함,RAG 출발점
    + RAG: 임베딩으로 저장된거를 DB함(ex.회사문서를 싹 긁어와 거대모델(llm)-회사모델 연결해 좋은 Data 뽑기)
        + 출발점: Vector DB

### 자연어 인코딩
- ML(인코딩) : CountVectorize/ TFIDFVectorize(숫자로 변경)
- DL(인코딩) : vectorizer(벡터화한다)

### 6.데이터프레임의 다양한 응용

In [ ]:
#그룹연산
# 3.1 그룹객체 만들기(분할 단계)
df_group = pd.DataFrame({
    '팀' : ['개발','마케팅','개발','영업','마케팅','개발'],  
    '이름' : ['민준','서연','도윤','예은','시우','지우'],
    '실적' : [120,90,150,110,130,100]
})
df_group

     팀  이름   실적
0   개발  민준  120
1  마케팅  서연   90
2   개발  도윤  150
3   영업  예은  110
4  마케팅  시우  130
5   개발  지우  100

In [ ]:
grouped = df_group.groupby("팀")
print(grouped)
for name, group in grouped:
    print(name)
    print(group) # 데이터 프레임이 나옴

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002599B01B9D0>
개발
    팀  이름   실적
0  개발  민준  120
2  개발  도윤  150
5  개발  지우  100
마케팅
     팀  이름   실적
1  마케팅  서연   90
4  마케팅  시우  130
영업
    팀  이름   실적
3  영업  예은  110

In [ ]:
#각 팀의 실적 합계 구하기
sum_by_team = grouped['실적'].sum()
print(sum_by_team)
mean_by_team = grouped['실적'].mean()
print(mean_by_team)
max_by_team = grouped['실적'].max()
print(max_by_team)

팀
개발     370
마케팅    220
영업     110
Name: 실적, dtype: int64
팀
개발     123.333333
마케팅    110.000000
영업     110.000000
Name: 실적, dtype: float64
팀
개발     150
마케팅    130
영업     110
Name: 실적, dtype: int64

In [ ]:
agg_result = grouped['실적'].agg(['sum','mean','max','count']) #DB에서 이거할려면 여러번 계산해야함
agg_result

     sum        mean  max  count
팀
개발   370  123.333333  150      3
마케팅  220  110.000000  130      2
영업   110  110.000000  110      1

In [ ]:
# 데이터프레임 합치기 : concat
# 병합merge, join과 비슷

In [ ]:
df1 = pd.DataFrame({
    'A':['A0','A1'],
    'B':['B0','B1']
})

df2 = pd.DataFrame({
    'A' : ['A2','A3'],
    'B' : ['B2','B3'],
    # 'C' : ['B2','B3'], 만약 B가 아니라 C로 쓰면 새로운 행 생김, outer join, A,B,C 다나오니까 outer join

})
df2

    A   B
0  A2  B2
1  A3  B3

In [ ]:
# 위아래로 연결(행방향, axis = 0)
result_row = pd.concat(
    [df1,df2],
    axis = 0, #default
    ignore_index = True, # 기존인덱스 무시해라 / default = False(즉, 기본인덱스 써라)     
    # join='inner' # 중북된 A만 나옴/ 앞으로 아주 필요함~
    # join='outer' # 디폴트로 처리, 다 나옴~ / join=outer없으면 그냥 다나옴~~~ 그게 그냥 디폴트니까
)
result_row

    A    B    C
0  A0   B0  NaN
1  A1   B1  NaN
2  A2  NaN   B2
3  A3  NaN   B3

In [ ]:
df3 = pd.DataFrame({
    'C' : ['C0','C1'],
    'D' : ['D0','D1']
},index=[1,2]) 
df3
pd.concat([df1,df3], axis=1) # 옆으로 붙일땐 인덱스의 영향을 받는다.
# concat: 리스트로 들어감(즉, 여러개 들어갈수 있음~~~)
#merge: 데이터 값가지고 붙임
#concat: 기존의 컬럼의 값 과 인덱스의 값 붙임

print(df1)
print(df2)
print(df3)
print(pd.concat([df1,df3], axis=1))

    A   B
0  A0  B0
1  A1  B1
    A   C
0  A2  B2
1  A3  B3
    C   D
1  C0  D0
2  C1  D1
     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1   C0   D0
2  NaN  NaN   C1   D1

In [ ]:

# merge 랑 concat 비교해야함
# merge :
# 1. 고객정보
df_cust = pd.DataFrame({
    "고객아이디":[1,2,3,4],
    '이름' : ['민준','서연','도윤','예은']
})
df_cust

   고객아이디  이름
0      1  민준
1      2  서연
2      3  도윤
3      4  예은

In [35]:
# 구매정보
df_purcha = pd.DataFrame({
    '고객아이디' : [2,3,3,5],
    '구매상품' : ['노트북','모니터','키보드','마우스']
})
df_purcha
#여기서 concat 하면 매치가 안맞듬
#고객아이디랑 컬럼의 값으로 붙여야함 :merge

#조인조건: 고객아이디
#데이터 프레임 2개만 들어갈수 있음~~~!!!!
#default = inner , 조건에 맞는건만 가져옴~
#양쪽 데이터 프레임 컬럼명 같을 경우 : ON
#컬럼명 틀릴때 -> left,right 컬럼명 따로따로 지정
df_merged = pd.merge(
    df_cust, df_purcha, # 왼쪽:cust, 오른쪽 :구매상품
    left_on = '고객아이디',
    right_on = 'custid',
    # on = '고객아이디', # 양쪽 데이터 프래임이 다 고객아이디니까 on사용가능~~~
    # how = 'inner' # inner default , 같은것만 나옴
    how = 'outer' # outer -> full outer
    # how = 'left' -> left outer: 고객 다나옴
    # how = 'right' # right outer : 구매 다나옴
    , suffixes=('_cust','_purcha')
)
df_merged

KeyboardInterrupt:

In [59]:
# 피벗테이블 만들기
df_long  = pd.DataFrame({
    '월': ['1월','1월','2월','2월','1월','3월'],
    '제품':['A','B','A','B','A','B'],
    '판매량': [100,150,120,180,50,70]    
})
#피벗 : 월별, 상품별 집계
df_long

    월 제품  판매량
0  1월  A  100
1  1월  B  150
2  2월  A  120
3  2월  B  180
4  1월  A   50
5  3월  B   70

In [61]:
df_pivot  = df_long.pivot_table(
    index='월' #인덱스로 보낼 컬럼 지정(그룹)
    , columns = '제품' #컬럼으로 보낼 컬럼 지정(그룹), 제품별
    , values = '판매량'# 집계에 사용할 데이터 지정
    , aggfunc='count' #'mean' default / <주의> 갯수없으면 0개 아니라 nanX
    , fill_value=0
)
df_pivot #각 결과는 평균값

제품  A  B
월
1월  2  1
2월  1  1
3월  0  1